:root{
	/*--first-theme: #6daffe;
	--second-theme: #20292e;
	--third-theme: #e9ece6;
	--fourth-theme: #f1f5f8;*/

	/*--first-theme: #f9a66c;
	--second-theme: #4a6163;
	--third-theme: #e9ece6;
	--fourth-theme: #f9faf4;*/
	
	--first-theme: #ff014f;
	--second-theme: #2a2e33;
	--second-theme-2: rgba(42, 46, 51, 0.5);
	--third-theme: #c4cfde;
	--fourth-theme: #212529;
	--fourth-theme-2: rgba(33, 37, 41, 0.5);
	--fifth-theme: white;

	--padding1: 30px;
	--padding2: 50px;
	--margin1: 30px;
}

*, *::before, *::after {
	 padding: 0;
	 margin: 0;
	 box-sizing: border-box;
	 list-style: none;
	 list-style-type: none;
	 text-decoration: none;
	 /*-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	 text-rendering: optimizeLegibility;*/
}
 body {
	 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	 font-size: 1rem;
	 font-weight: normal;
	 line-height: 1.5;
	 color: /*#252a32;*/#1f282d;
	 background: var(--fourth-theme);/*#f1f5f8;*/

	 /* footer stick to bottom https://www.youtube.com/watch?v=ERzZ-qzNxnQ */
	 min-height: 400px;
	 margin-bottom: 250px;
	 clear: both;
}

 /*img {
	 display: block;
	 width: 100%;
	 height: auto;
}*/
 a, button {
	 font-family: inherit;
	 font-size: inherit;
	 line-height: inherit;
	 cursor: pointer;
	 border: none;
	 outline: none;
	 background: none;
	 text-decoration: none;
}
/* .container {
	 max-width: 80rem;
	 width: 100%;
	 height: auto;
	 padding: 0 2rem;
	 margin: 0 auto;
}*/
 .brand {
	 font-family: inherit;
	 font-size: 1.75rem;
	 font-weight: 700;
	 line-height: inherit;
	 color: var(--first-theme);
	 text-transform: uppercase;
	 text-rendering: optimizeLegibility;
}
 .navbar {
	 width: 100%;
	 height: auto;
	 padding: 1rem 2rem;
	 color: #252a32;
	 /*background: var(--fourth-theme-2);*/
	 background: var(--second-theme-2);
	 /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);*/

	 /*box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5);*/
	 box-shadow:10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;

	 position: fixed;

	 backdrop-filter: blur(10px);
}
 @media only screen and (min-width: 768px) {
	 .navbar {
		 display: flex;
		 flex-direction: row;
		 justify-content: space-between;
		 align-items: center;
		 margin: 0 auto;
	}
}
 .navbar .navbrand {
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between;
	 align-items: center;
}
 .navbar .navbrand .burger {
	 display: flex;
	 flex-direction: row;
	 justify-content: center;
	 align-items: center;
	 cursor: pointer;
	 border: none;
	 outline: none;
	 background: none;
	 transition: all 0.35s ease;
}
 .navbar .navbrand .burger-close {
	 display: none;
}
 .navbar .navbrand .burger.active .burger-open {
	 display: none;
}
 .navbar .navbrand .burger.active .burger-close {
	 display: flex;
}
.burger{
	color: var(--fifth-theme);
}
 @media only screen and (min-width: 768px) {
	 .navbar .navbrand .burger {
		 display: none;
	}
}
 .navbar .menu {
	 width: 100%;
	 height: 0;
	 overflow: hidden;
	 transition: all 0.5s ease;
}
 .navbar .menu-item {
	 margin: 0.5rem 0;
}
 .navbar .menu-link {
	 font-family: inherit;
	 font-size: 1rem;
	 font-weight: 500;
	 line-height: inherit;
	 color: var(--fifth-theme);
	 text-transform: uppercase;
	 text-rendering: optimizeLegibility;
	 transition: all 0.35s ease;
}
 .navbar .menu-link:hover {
	 color: var(--first-theme);
}
 .navbar .menu.active {
	 width: 100%;
	 height: 10rem;
	 margin: 1rem 0;
}
 @media only screen and (min-width: 768px) {
	 .navbar .menu {
		 display: flex;
		 flex-direction: row;
		 justify-content: center;
		 align-items: center;
		 height: auto;
	}
	 .navbar .menu-item {
		 padding: 0;
		 margin: 0 0.5rem;
	}
}
 .navbar .social {
	 display: none;
	 flex-direction: row;
	 justify-content: center;
	 align-items: center;
}
 .navbar .social-item {
	 font-size: 1.65rem;
	 line-height: inherit;
	 margin: 0 0.5rem;
	 color: var(--fifth-theme);
	 transition: all 0.35s ease;
}
 .navbar .social-item:hover {
	 color: var(--first-theme);
}
 @media only screen and (min-width: 768px) {
	 .navbar .social {
		 display: flex;
	}
}

/* MY CSS */

html {
    position: relative;
    min-height: 100%;
}

footer {
	position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
	background-color: var(--fourth-theme);
	/*background-color: var(--second-theme);*/
	color: var(--fifth-theme);
	/*box-shadow: 10px 10px 30px var(--fifth-theme), 30px 10px 30px var(--fifth-theme);*/
	box-shadow:10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}

[class^="box-"] { 
	display: grid;
}

@media (max-width: 768px){
	[class^="box-full"] { 
		  margin-left: 10%;
		  margin-right: 10%;
	  }
	  .box-full-3{
		grid-template-areas: 
		"A A A A"
		"B B B B"
		"C C C C";
	}
	.box-full-4{
		grid-template-areas: 
		"A A A A"
		"B B B B";
	}
	.box-sub-4-a{
		align-items: center;
		margin-bottom: 40px;
	}
}

@media (min-width: 768px){
	[class^="box-full"] { 
		margin-left: 15%;
		margin-right: 15%;
	}
	.box-full-3{
		grid-template-areas: 
		"A A A A   A A A A"
		"B B B B   C C C C";
	}
	.box-full-4{
		grid-template-areas: 
		"A A A A   B B B B";
	}
}

.box-full-1{
	place-items: center;
	grid-area: A;
	margin-top: 5rem;
	margin-bottom: 2rem;
	/*background: url("/static/img/sample1.jpg") 50% 0 no-repeat fixed;*/
}
.box-full-2{
	place-items: center;
	grid-area: B;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.box-full-3{
	grid-area: C;
	/*background-color: var(--first-theme);*/
	display: grid;
	background: var(--fourth-theme);

	/* I think this makes each column the same width */
	grid-auto-columns: 1fr;
   	grid-auto-flow: column;

	margin-top: 2rem;
	margin-bottom: 2rem;

	

	/* https://gridbyexample.com/examples/example21/ */
}

@media (max-width: 768px){
	
}
@media (min-width: 768px){
	
	
}
@media (min-width: 1200px){
	.box-full-3{
		/*margin-left: 15%;
		margin-right: 15%;*/
	}
}

.box-sub-3-a {
	grid-area: A;
	align-self: flex-start;
}
.box-sub-3-b {
	grid-area: B;

	border-radius: 20px;
	/*box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;*/
	box-shadow: 10px 10px 19px #1b1d20, -10px -10px 19px #121315;
	/*border-color: var(--first-theme);
	border-style: solid;
	border-width: 2px;*/
	margin: 0 20px 20px;
	color: var(--fifth-theme);
	/*background: linear-gradient(150deg, var(--fourth-theme), var(--first-theme) 200%);*/

}
.box-sub-3-c {
	grid-area: C;

	border-radius: 20px;
	box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
	/*border-color: var(--first-theme);
	border-style: solid;
	border-width: 2px;*/
	margin: 0 20px 20px;
	color: var(--fifth-theme);
	/*background: linear-gradient(150deg, var(--fourth-theme), var(--first-theme) 200%);*/
}

.box-full-4{
	/*place-items: center;
	grid-area: D;
	background-color: var(--fourth-theme);
	color: var(--fifth-theme);*/

	grid-area: D;
	/*background-color: var(--first-theme);*/
	display: grid;
	background: var(--fourth-theme);
	color: var(--fifth-theme);

	/* I think this makes each column the same width */
	grid-auto-columns: 1fr;
   	grid-auto-flow: column;

	margin-top: 1rem;
	margin-bottom: 2rem;

	
}

.box-sub-4-a{
	grid-area: A;
}
.box-sub-4-b{
	grid-area: B;
	place-items: center;

	border-radius: 20px;
	box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
	/*border-color: var(--first-theme);
	border-style: solid;
	border-width: 2px;*/
	margin: 0 20px 20px;
	color: var(--fifth-theme);
}

@media (max-width: 768px){
	
}
@media (min-width: 768px){
	
}
@media (min-width: 1200px){
	.box-full-4{
		/*padding-left: 15%;
		padding-right: 15%;*/
	}
}

.three-d-card1{
	border-radius: 25px;
	border: 1px solid var(--second-theme);
	box-shadow: 0.4em 0.4em var(--second-theme);
}
.three-d-card2{
	transform-style: preserve-3d;
	border-radius: 30px;
	padding: 0rem 5rem;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.container {
	/*margin: 10px;*/
	display: grid;
	/*gap: 20px;*/
}

@media (min-width: 768px){
.container {
	grid-template-areas: 
		"A A A A   A A A A   A A A A"
		"B B B B   B B B B   B B B B"
		"C C C C   C C C C   C C C C"
		"D D D D   D D D D   D D D D";
	}
}

@media (max-width: 768px){
.container {
	grid-template-areas: 
		"A A A A"
		"B B B B"
		"C C C C"
		"D D D D";
	}
}

.center-text{
	text-align: center;
}

.form-input{
	/*border-radius: 10px;
  	transition: .3s border-color;
	padding: 8px;
	width: 100%;;
	background-color: #191b1e;
	color: white;*/
	
	background-color: #191b1e;
    border-radius: 6px;
    width: 100%;
    transition: 0.4s;
    border: 2px solid #191b1e;
    padding: 8px;
    color: #c4cfde;
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    letter-spacing: 1px;
}
.form-label{
	color: var(--third-theme);
}

/*.form-input:hover {
	border: 1px solid #aaa;
}*/

.btn-submit{
	background: transparent;
	width: 200px;
	position: relative;
	padding: 15px;
	color: var(--third-theme);
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
	border-radius: 4px;
	font-weight: 600;
	overflow: hidden;
	border: 2px solid var(--first-theme);
	text-decoration: none;
}

/*.btn-book{
	display: inline-block;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	border-radius: 8px;
	padding: 13px 23px;
	border: 1px solid var(--fifth-theme);
	transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
	background: var(--first-theme);
	color: var(--fifth-theme);
}
.btn-book:hover{
	border-color: #000000;
	background: #f7f7f7;
}*/

.btn-book {
	color: var(--fifth-theme);
	background-color: var(--first-theme);
	border: 5px solid transparent;
	transition: 0.2s ease;
	border-radius: 8px;
	padding: 2px 12px;
	margin: 10px 8%;
	font-size: 16px;
	align-self: flex-start;
	/*align-self: center;*/
}
.btn-book:hover {
	color: var(--first-theme);
	background-color: var(--fifth-theme);
	transform: scale(1.1);
	border: 5px solid var(--first-theme);
}

#home-title{
	color: var(--first-theme);
	font-size: 48px;
	padding: var(--padding1) 0;
}
#home-subtitle{
	color: var(--fifth-theme);
}
.home-intro{
	color: var(--fifth-theme);
	font-size: 24px;
}
#home-book{
	color: var(--first-theme);
	font-size: 36px;
}
.home-book-title{
	color: var(--fifth-theme);
	font-size: 24px;
	padding: 10px 0;
}
.home-book-text{
	color: var(--fifth-theme);
	font-size: 18px;
	padding: 0 8%;
}

.contact-title{
	color: var(--first-theme);
}

#about-title{
	color: var(--first-theme);
}
.about-text{
	color: var(--fifth-theme);
}

#blog-title{
	color: var(--first-theme);
}

.form1{
	width: 70%;;
}

.text-secondary{
	font-size: 24px;
}
.text-3{
	font-size: 24px;
}
.text-4{
	font-size: 18px;
}
.image-pad{
	padding: 16px;
}
.padding1{
	padding: var(--padding1);
}
.padding2{
	padding: var(--padding2);
}
.padding-top1{
	padding-top: var(--padding1);
}
.padding-bottom1{
	padding-bottom: var(--padding1);
}
.margin1{
	margin: var(--margin1);
}

a.footer-link{
	color: var(--fifth-theme);
}
a.footer-link:hover {
	color: var(--first-theme);
}

ul.dashed {
	list-style-type: none;
}
ul.dashed > li:before {
	content: "-";
}