{% extends 'blog/base.html' %}
{% block content %}

<div>
    <h1 class="center-text text-title">About Me</h1>
    <div class="text-3 padding2">

        <p>
            &emsp;My name is Jon and I am a private English teacher, as well as a freelance software engineer.
            I am a native English speaker, born and raised in Connecticut. In 2022, I graduated with a Bachelor's degree in computer science.<br><br>


            &emsp;Outside of the computer field, I have always been interested in both studying and teaching foreign languages. Besides English, I speak Polish fluently
            and have studied Spanish, Russian, and Italian. I have tested out many different language learning techniques myself and know what works and what does not.<br><br>


            &emsp;I believe the best way to learn a language is by receiving as much input as possible by reading and listening, and most importantly talking. My method of teaching
            is based upon working on <b>conversation skills</b>. During our lessons, we pick a topic to discuss and I will help you to express yourself and improve your conversation
            skills. I will give you feedback on your vocabulary and pronunciation, as well as write down your mistakes so you can learn from them. We will not
            spend half the class learning grammar rule exceptions from a textbook! Learning a language should be an enjoyable process!
        </p>
    </div>
</div>


https://www.i-to-i.com/tefl-blog/teaching-english-online/how-to-find-your-niche-when-teaching-english-online/

Niche ideas:
- Laid back teaching style
- Like to teach slavic language speaking and spanish speaking students,
preferably teenagers and university students
- I like helping people, learning about different cultures of different countries,
and I myself like to learn foreign languages. Many passions outside of language
learning, like programming, chess, sports, and travelling
- types of niches: conversational english, business english, pronunciation, exam preparation, professions

- update my cv

- You drank the online TEFL koolaid. Don't believe their marketing. It's all BS. As an employer qualifications would go -

D. All the online nonsense certs (120, 300, don't really care).
D+ Some certification with observed teaching hours (in-person heavily preferred).
C. CELTA - a basic intensive one-month training and/or related teaching experience (6 months intro chem isn't really relevant if you're applying to be a language Instructer for 5 year olds but its better than nothing).
B. Teaching experience with target age range and experience living in-country. Still CELTA preferred (at this point online certs aren't even looked at).
A. Relevant Experience in-country, certified teacher, related MA, Delta, etc.
That's been my experience. However even though where I work is all A level requirements a CELTA is still a big plus. Read "Choosing a TEFL certification" in the sidebar->
"Teaching would provide a lot of cultural exposure but I also would like to have time to travel."
So teaching is generally pretty full-time, especially your first few years. If your interest is in travel I would recommend workaway, a student visa (often can study for cheap and work!), or a working holiday visa. In my experience all are much more exposure and fun. If you want to give language instruction a shot go for it but don't expect a ton of freetime (depends a bit on location, big world and all that).
{% endblock %}