{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="other-container">
    <div class="center-text">
        <form method="POST" id="other-form">
            <h1 id="other-contact-title">Contact Form</h1>
            {% csrf_token %}
            <label class="form-label">Email</label>
            <br>
            {{form.email}}
            <br>
            <div>
                <label class="form-label">Subject</label>
                <br>
                {{form.subject}}
            </div>
            <br>
            <div>
                <label class="form-label">Message</label>
                <br>
                {{form.message}}
            </div>
            <input class="btn-submit" type="submit" value="Submit">
        </form>
    </div>
</div>


<!--<div class="box-5">
    <div class="center-text form1">
       <form method="POST">
           <h1>Contact</h1>
           {% csrf_token %}
           <label>Email</label>
           <br>
           {{form.email}}
           <br>
           <div>
               <label>Subject</label>
               <br>
               {{form.subject}}
           </div>
           <br>
           <div>
               <label>Message</label>
               <br>
               {{form.message}}
           </div>
           <input class="btn-submit" type="submit" value="Submit">
       </form>
   </div>
</div>-->

{% endblock %}