{% extends 'blog/base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="box-full-1">
        <h1 id="home-title">Learn English with Jon</h1>
        <h2 id="home-subtitle">Online lessons for English learners</h2>

    </div>
    <div class="box-full-2">
        <!--<img class="image-pad" src="{% static 'img/p.jpg' %}" width="250px">-->
        <p class="home-intro">Hey there! My name is Jon and I am a private English teacher.</p>
        <p class="home-intro">I have been tutoring students for more than 3 years. My method of teaching focuses on improving conversation skills.</p>
    </div>
    <div class="box-full-3">
        <div class="box-sub-3-a">
            <h1 id="home-book" class="padding-bottom1">Book a Lesson With Me</h1>
        </div>
        <div class="box-sub-3-b" style="display: flex; flex-direction: column;">
            <h2 class="center-text home-book-title">Trial Lesson</h2>
            <p class="home-book-text">Free 30 minute consultation</p>
            <ul class="home-book-text dashed">
                <li>Discuss your goals</li>
                <li>Assess your current level</li>
            </ul>
            <btn class="btn-book">Free</btn>
            
        </div>
        <div class="box-sub-3-c" style="display: flex; flex-direction: column;">
            <h2 class="center-text home-book-title">Full Lesson</h2>
            <p class="home-book-text">1 Hour Conversational Lesson</p>
            <ul class="home-book-text dashed">
                <li>
                    Focusing on improving your conversational skills
                </li>
                <li>
                    Learning from your mistakes
                </li>
            </ul>
            <btn class="btn-book center-text">Free</btn>
        </div>
    </div>
    </div>
    <h1 class="center-text contact-title">Contact Us</h1>
    <div class="box-full-4">
        <div class="box-sub-4-a" style="display: flex; flex-direction: column;">
            <h2>Jonathan Kryzanski</h2>
            <p>jmkryzanski@gmail.com</p>
            <img class="image-pad" src="{% static 'img/p.jpg' %}" width="250px">
        </div>
        <div class="box-sub-4-b">
            <div class="center-text form1">
                <form method="POST">
                    <h2 class="text-secondary">Contact</h2>
                    {% csrf_token %}
                    <label class="form-label">Email</label>
                    <br>
                    {{form.email}}
                    <br>
                    <div>
                        <label class="form-label">Subject</label>
                        <br>
                        {{form.subject}}
                    </div>
                    <br>
                    <div>
                        <label class="form-label">Message</label>
                        <br>
                        {{form.message}}
                    </div>
                    <input class="btn-submit" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
  </div>

{% endblock %}