{% extends 'blog/base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="box-1">
        <h1 class="text-title-home">Learn English with Jon</h1>
        <h2 class="text-secondary">Online lessons for English learners</h2>

    </div>
    <!--<div class="box-2">
        <img src="{% static 'img/p.jpg' %}"
        width="200px">
    </div>-->
    <div class="box-3">
        <h1>About Me</h1>
        <img class="image-pad" src="{% static 'img/p.jpg' %}" width="250px">
        <p class="text-3">Hey there! My name is Jon and I am a private English teacher.</p>
        <p class="text-3">I have been tutoring students for more than 3 years. My method of teaching focuses on improving conversation skills.</p>
    </div>
    <div class="box-4">
        <div class="x">
            <h2 class="text-secondary">Learn English with Me</h2>
        </div>
        <div class="y">
            <p>
                dawu
            </p>
        </div>
        <div class="z">
            <p>
                dawu
            </p>
        </div>
    </div>
    </div>
    <div class="box-5">
         <div class="center-text form1">
            <form method="POST">
                <h2 class="text-secondary">Contact</h2>
                {% csrf_token %}
                <label>Email</label>
                <br>
                {{form.email}}
                <br>
                <div>
                    <label>Subject</label>
                    <br>
                    {{form.subject}}
                </div>
                <br>
                <div>
                    <label>Message</label>
                    <br>
                    {{form.message}}
                </div>
                <input class="btn-submit" type="submit" value="Submit">
            </form>
        </div>
    </div>
  </div>

{% endblock %}